@model UserOperations.ViewModels.RequestViewModel
<style>
    .scrollable {
        max-height: 800px;
        overflow-y: auto;
    }
    .status-badge {
        text-align: center;
        background-color: green;
        width: 7em;
        color: aliceblue;
        border-radius: 10px;
        float: right;
    }
    .card-body {
        margin-bottom: 15px;
    }
   
</style>

<div class="container mt-5">
    <div class="row"> 
        <div class="col-md-16">
            <div class="card" style="height: 700px;">
                <div class="card-header bg-primary text-white" >
                    Sonuçlanan talepler
                </div>
                <div class="card-body scrollable">
                   
                        @foreach (var requestfinal in Model.FinalRequest)
                        {
                            <div class="card mb-3">
                                <div class="card-body">
                                    <p class="status-badge">@requestfinal.Status</p>
                                    <h5 class="card-title">Talep</h5>
                                    <p class="card-text"><strong>Departman:</strong> @requestfinal.DDepartment</p>
                                    <p class="card-text"><strong>Konu:</strong> @requestfinal.RequestTitle</p>
                                    <p class="card-text"><strong>Gönderen:</strong>@requestfinal.RUserName</p>
                                    <a asp-controller="Request" asp-action="RequestProcess" asp-route-id="@requestfinal.Id"> <button class="btn btn-primary">Talep Detayı</button></a>
                                </div>
                            </div>
                        
                    }
                   
                </div>
            </div>
        </div>

        
                      
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
