@model IEnumerable<UserOperations.Entity.Car>

    <h2 class="mb-4">Kayıtlı Araçlar</h2>
    
    <div class="container col-sm-13">
        <div class="card">
            <div class="card-header bg-primary text-white">
                Araç Listesi
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>Araç Modeli</th>
                            <th>Plaka</th>
                            <th>Vites Türü</th>
                            <th>Kilometre</th>
                            <th>Araba Durumu</th>
                            <th>İşlemler</th> 
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            @foreach (var car in Model)
                            {
                                <tr>
                                    <td>@car.Id</td>
                                    <td>@car.CarModel</td>
                                    <td>@car.CarPlate</td>
                                    <td>@car.Gearbox</td>
                                    <td>@car.YKM</td>
                                    @if(@car.CarStatus=="Müsait")
                                    {
                                      <td style="background-color: green;color: floralwhite; font-size: 18px;">@car.CarStatus</td>

                                    }
                                    else{
                                      <td style="background-color: red; color: floralwhite;font-size: 18px;">@car.CarStatus</td>

                                    }


                                    <td style="width:100%;">
                                        <a asp-controller="AdministrativeAffairs" asp-action="CarEdit" asp-route-id="@car.Id" class="btn btn-primary mb-2 ml-2 mt-2">
                                            Güncelle
                                        </a>
                                        
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-@car.Id">
                                              Sil
                                            </button>
                          
                                            <div class="modal fade" id="modal-@car.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel-@car.Id" aria-hidden="true">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="modalLabel-@car.Id">Araç Silme</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                                    Modeli: @car.CarModel
                                                    <br>
                                                    Plakası: @car.CarPlate
                                                    <br>
                                                   
                                                    <br>
                                                    Bilgilerine Sahip Talebi Silmek İstediğinize Emin Misiniz?
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                    <form asp-action="CarDelete" method="post">
                                                      <input type="hidden" value="@car.Id" name="id">
                                                      <button type="submit" class="btn btn-danger">Sil</button>
                                                    </form>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6" class="text-center">Kayıtlı araç bulunmamaktadır.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    